{
    debug
    admin 0.0.0.0:2019

	log {
		format json
		level DEBUG
	}
}

http:// {

    storeidlookup "https://google.com" {
        key_param "storeId"
        cache_ttl 120
    }
	reverse_proxy "https://google.com" {
	}
}


